<div class="navbar">
  <ul>
    <li>{{ title }}</li>
    <li>
      Built with <a href="https://angular.dev/" target="_blank">Angular</a> &
      <a href="https://www.npmjs.com/package/diff" target="_blank">Diff</a>
    </li>
  </ul>
</div>

<div class="main-layout">
  <form [formGroup]="compareForm">
    <div class="form-layout">
      <div class="box-wrapper">
        <div class="title">Original Text</div>
        <div class="textarea-wrapper">
          <textarea
            formControlName="original"
            class="textarea-input"
          ></textarea>
        </div>
      </div>

      <div class="box-wrapper">
        <div class="title">Updated Text</div>
        <div class="textarea-wrapper">
          <textarea formControlName="updated" class="textarea-input"></textarea>
        </div>
      </div>
    </div>

    <div class="form-submit-wrapper">
      <div class="format-wrapper">
      <!--   <label>
          <input type="radio" value="typescript" (click)="setLanguage('typescript')" />
          <span>TypeScript</span>
        </label>
        <label>
          <input type="radio" value="vbnet" (click)="setLanguage('vbnet')" />
          <span>VB .NET</span>
        </label>
        <label>
          <input type="radio" value="sql" (click)="setLanguage('sql')" />
          <span>SQL</span>
        </label> -->
      </div>

      <div class="button-wrapper">
        <button class="submit-btn" type="button" (click)="onSubmit()">
          Compare
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="union || differences || intersection">
  <div class="main-layout">
    <div class="title">Difference</div>
    <pre class="pre-text" *ngIf="differences">
      <code [highlight]="differences" [languages]="['sql']"></code>
    </pre>
  </div>

  <div class="main-layout">
    <div class="title">Union</div>
    <pre class="pre-text" *ngIf="union">
      <code [highlight]="union" [languages]="['sql']"></code>
    </pre>
  </div>

  <div class="main-layout">
    <div class="title">Intersection</div>
    <pre class="pre-text" *ngIf="intersection">
      <code [highlight]="intersection" [languages]="['sql']"></code>
    </pre>
  </div>
</div>

<div class="footer">
  <div>- We don't collect any data -</div>
  <div>
    <a
      href="https://github.com/Leka-Workshop/angular-show-me-diff"
      target="_blank"
      >Git Repo</a
    >
  </div>
</div>
