<div class="navbar">
  <ul>
    <li>{{ title }}</li>
    <li>
      Built with <a href="https://angular.dev/" target="_blank">Angular</a> &
      <a href="https://www.npmjs.com/package/diff" target="_blank">Diff</a>
    </li>
  </ul>
</div>

<div class="main-layout">
  <form [formGroup]="compareForm">
    <div class="form-layout">
      <div class="box-wrapper">
        <div class="title">Original Text</div>
        <div class="textarea-wrapper">
          <textarea
            formControlName="original"
            class="textarea-input"
          ></textarea>
        </div>
      </div>

      <div class="box-wrapper">
        <div class="title">Updated Text</div>
        <div class="textarea-wrapper">
          <textarea formControlName="updated" class="textarea-input"></textarea>
        </div>
      </div>
    </div>

    <div class="button-wrapper">
      <button class="submit-btn" type="button" (click)="onSubmit()">
        Compare
      </button>
    </div>
  </form>
</div>

<div *ngIf="union || differences || intersection">
  <div class="main-layout">
    <div class="title">Difference</div>
    <pre class="pre-text">{{ differences | json }}</pre>
  </div>

  <div class="main-layout">
    <div class="title">Union</div>
    <pre class="pre-text">{{ union | json }}</pre>
  </div>

  <div class="main-layout">
    <div class="title">Intersection</div>
    <pre class="pre-text">{{ intersection | json }}</pre>
  </div>
</div>
