.navbar {
  height: 50px;
  width: 100%;
  background: forestgreen;
  position: fixed;
  top: 0%;
  left: 0%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

a {
  color: white;
}

ul {
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
}

li {
  color: #FFF;
  list-style-type: none;
}

body {
  margin-top: 50px;
  font-family: "Gill Sans Extrabold", sans-serif;
  background: #F5F5F5;
}